#question-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px red;
  height: 100vh;
}

form {
  border: solid 1px black;
  height: auto;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vw;
  text-align: center;
}

h1 {
  font-size: 4vw;
}

h2 {
  font-size: 3vw;
}

#submit-button {
  background-color: #7E22E5;
  color: white;
}

#answer-input{
  width: 35vw;
  height: 10vh;
}